<div class="header">
    <div class="inner_header">
        <div class="logo">
            <h1><a href="index.html">M<span>ata3em</span></a></h1>
        </div>
        <ul class="navigation">
            <a href="index.html" class="n"><li>Home</li></a>
            <a href="list.html" class="n"><li>List</li></a>
            <a class="n"><li>Tier-List</li></a>
            <a><li>Submit a review</li></a>
        </ul>
    </div>
</div>
<div class="header-border"></div>
<div class="content">
<p class="Mata3em">Mata3em</p>
<p class="Mata3em">Aljam3a</p>
<p class="info">This website is made to guide you through your eating journey while you’re in the University of Jordan.
    <br><br>
    You can find tier-lists ranking most of the restaurants nearby, get the menus and see the reviews </p>
</div>
<footer class="footer">
<div class="container"></div>
</footer>