  
    <div class="header">
        <div class="inner_header">
            <div class="logo">
                <h1><a href="/">M<span>ata3em</span></a></h1>
            </div>
            <ul class="navigation">
                <a href="/" class="n"><li>Home</li></a>
                <a href="/list" class="n"><li>List</li></a>
                <a class="n"><li>Tier-List</li></a>
                <a><li>Submit a review</li></a>
            </ul>
        </div>
     </div>
     <div class="header-border"></div>
    <div class="content">
        <table class="list" id="mytable">
            <thead>
                <tr>
                    <th  id="name"><button  onclick= sortTable(0) >Name</button></th>
                    <th><button  onclick= sortTable(1) >Taste / 10</button></th>
                    <th><button  onclick= sortTable(2)> Price / 5</button></th>
                    <th><button onclick= sortTable(3)  >Taste/Price Ratio</button></th>
                    <th id="menu">Menu</th>
                    <th><button>Location/Distance</button></th>

                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>Lezzet Istanbul</td>
                    <td>6.00</td>
                    <td>4.00</td>
                    <td>1.50</td>
                    <td><a href="https://web.facebook.com/LezzetIstanbulturkish/menu/?id=100064545975804&sk=menu" target="_blank"><i class="fa-brands fa-elementor"></i></a></td>
                    <td><button class="maps" onclick= mapShow(0) >Open In Maps</button></td>
                </tr>
                <tr>
                    <td>El clasico</td>
                    <td>5.33</td>
                    <td>1.50</td>
                    <td>3.56</td>
                    <td><a target="_blank" href="https://web.facebook.com/ElclasicoJordan/photos/p.1557332154672238/1557332154672238"><i class="fa-brands fa-elementor"></i></a></td>
                    <td><button class="maps" onclick= mapShow(1)>Open In Maps</button></td>
                </tr>
                <tr>
                    <td>Firema Shawerma</td>
                    <td>9.17</td>
                    <td>3.00</td>
                    <td>3.06</td>
                    <td><a target="_blank" href="https://web.facebook.com/firema.shawerma/menu/?id=100068882587576&sk=menu&locale=ar_AR"><i class="fa-brands fa-elementor"></i></a></td>
                    <td><button class="maps" onclick= mapShow(2)>Open In Maps</button></td>
                </tr>
                <tr>
                    <td>Saj</td>
                    <td>7.67</td>
                    <td>3.00</td>
                    <td>2.56</td>
                    <td><a target="_blank" href="https://web.facebook.com/sajJo2010/menu/?id=100067506374424&sk=menu"><i class="fa-brands fa-elementor"></i></a></td>
                    <td><button class="maps" onclick= mapShow(3)>Open In Maps</button></td>
                </tr>
                <tr>
                    <td>shawerma 3a saj</td>
                    <td>9.31</td>
                    <td>3.50</td>
                    <td>2.66</td>
                    <td><a target="_blank" href="https://web.facebook.com/shawerma3aSaj/menu"><i class="fa-brands fa-elementor"></i></a></td>
                    <td><button class="maps" onclick= mapShow(4)>Open In Maps</button></td>
                </tr>
            </tbody>
        </table>
        <div id="mymodule" class="module">
            <div class="module-content">
                <span class="closeModule">&times;</span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3382.6981780861156!2d35.8747762!3d32.0232885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9fa104214325%3A0xbdb82c47fd5c761e!2sLezzet%20Istanbul!5e0!3m2!1sen!2sjo!4v1679171863265!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3382.990452870788!2d35.86759!3d32.015372299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9fad727943bf%3A0xc399a0b7bf950b59!2sEl%20clasico%20University!5e0!3m2!1sen!2sjo!4v1679171881756!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.0238143589695!2d35.8685135!3d32.0144686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9f274b5ceb61%3A0x2ae996f4f4b2d2e2!2zRmlyZW1hIFNoYXdlcm1hIHwg2LTYp9mI2LHZhdinINmB2KfZitix2YXYpyDYtNin2LHYuSDYp9mE2KzYp9mF2LnYqQ!5e0!3m2!1sen!2sjo!4v1679171898488!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6765.974541240051!2d35.8724402!3d32.0154585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9f9e2509b9bb%3A0x4c251c0aef7c0a57!2sHashtag%20Saj!5e0!3m2!1sen!2sjo!4v1679171912955!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13535.591236029433!2d35.8727577!3d31.9907856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca1d2db85edcd%3A0xcf5b6bb39584b48!2sShawerma%203a%20saj!5e0!3m2!1sen!2sjo!4v1679171927345!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container"></div>
    </footer>
    <script src="index.js"></script>

